            <div class="row">
                <div class="col-sm-offset-3 col-sm-6 centered">
                    <h3>Waiting for the user response</h3>
                    <ul id="userstatus">

                    </ul>
                </div>
            </div>

